.vidCont{
    width: 250px;
    height: 120px;
    background-color: rgb(87, 87, 212);
    box-shadow: 0 1px 6px 3px rgba(0, 0, 0, 0.315);
    border-left: 40px solid rgb(157 157 255);
    color: #fff;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}
.vidCont img{
    width: 100%;
    aspect-ratio: 5 / 3.5 ;
}
.vidCont :is(h1 , h2 ,h4){
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 400;
}
.vidCont::before{
    content: '';
    width: 10px;
    height: 60px;
    left: -25px;
    border-radius: 10px;
    position: absolute;
    background-color: #00000080;
}