.dsd{
    display: inline;
}
.cont {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: rgb(5 51 74);
    flex-direction: column;
}

.clist {
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 889px) {
    .cont {
        padding: 0;
    }

    .wel {
        font-size: 30px;
    }

}