.containerLogin .LoginBox .Login{
    width: 230px;
    margin: 10px;
}
.containerLogin .LoginBox{
    height: auto;
    padding: 100px 30px;
    background-color: #f1efff6e;
    border-radius: 20px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    margin-bottom: 100px;
}
.containerLogin {
    display: flex;
    flex-direction: column;
    background-color: #f9f9ff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 1s;
}
.containerLogin .LoginBox .Login input{
    outline-color: orange;
    outline-offset: -1px;
    height: 40px;
}
.textCont{
    padding: 37px 25px;
    border-radius: 24px;
    color: #222;
    margin: -94px;
    background-color: #ffe7e7b8;
    position: relative;
}
.containerLogin .textCont h1,.containerLogin .textCont h2{
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 4px;
}
.containerLogin .textCont h2{
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 30px;
}
.containerLogin .LoginBox .LoginBtn button{
    width: 100px;
    height: 35px;
    font-size: 13px;
    font-weight: 200;
    padding: 0;
    margin-left: 20px;
}
.containerLogin .LoginBox .LoginBtn {
    display: flex;
}
